Source: telepathy-morse
Section: unknown
Priority: optional
Maintainer: Rohan Garg <rohan@kde.org>
Build-Depends: debhelper (>= 9), libtelegram-qt5-dev, libtelepathy-qt5-dev (>= 0.9.7), qtbase5-dev,
Standards-Version: 3.9.8
Homepage: https://github.com/TelepathyIM/telepathy-morse

Package: telepathy-morse
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: telegram connection manager
 Morse is a Telegram connection manager for Telepathy
